---
title: Load test failure!
assignees:
  - paromitaroy
labels:
  - bug
about: Load test failure bug
name: Load test failure bug
---
A load test failure has occurred. Please access the Azure Load Test portal to learn more about this latest run.
